<table class="ui celled table">
    <thead>
    <tr>
        <th contenteditable="true" (blur)="groceries.name=$event.target.outerText" colspan="2"> {{ groceries.name }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Calories</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.calories=$event.target.outerText">
            {{groceries.calories}}
        </td>
    </tr>
    <tr>
        <td>Fat</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.fat=$event.target.outerText">
            {{groceries.fat}}
        </td>
    </tr>
    <tr>
        <td>Protein</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.protein=$event.target.outerText">
            {{groceries.protein}}
        </td>
    </tr>
    <tr>
        <td>Carbohydrate</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.carbohydrate=$event.target.outerText">
            {{groceries.carbohydrate}}
    </tr>
    <tr>
        <td>Acid</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.acid=$event.target.outerText">
            {{groceries.acid}}
        </td>
    </tr>
    <tr>
        <td>Polyols</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.polyols=$event.target.outerText">
            {{groceries.polyols}}
        </td>
    </tr>
    <tr>
        <td>Fibre</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.fibre=$event.target.outerText">
            {{groceries.fibre}}
        </td>
    </tr>
    <tr>
        <td>Ethanol</td>
        <td class="selectable" contenteditable="true" (blur)="groceries.ethanol=$event.target.outerText">
            {{groceries.ethanol}}
        </td>
    </tr>
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th colspan="2">
            <div class="ui right floated buttons">
                <button (click)="updateGrocery(groceries)" class="ui positive button">Save</button>
                <div class="or"></div>
                <button (click)="goBack()" class="ui button">Cancel</button>
            </div>

        </th>
    </tr>
    </tfoot>
</table>


