<sm-segment class="raised">
	<h3>Add new recipe</h3>
	<sm-input [control]="name" class="right fluid" placeholder="Enter name...">sad</sm-input>
	<sm-input [control]="descr" class="right fluid" placeholder="Enter description..."></sm-input>
	<sm-button class="positive" (click)="createRecipe(name.value, descr.value);" icon="plus">Add recipe</sm-button>
</sm-segment>
<sm-list class="relaxed selection divided">
	<sm-item *ngFor="let item of recipesArray">
		<sm-button class="positive" (click)="deleteRecipe(item.id)" icon="delete"></sm-button>
		<sm-a (click)="showRecipe(item.id)">{{item.id}} {{item.name}}</sm-a>
	</sm-item>
</sm-list>