<sm-segment class="raised">
	<h3>Add new recipe</h3>
	<sm-input [control]="name" class="right fluid" placeholder="Enter name..."></sm-input>
	<sm-input [control]="descr" class="right fluid" placeholder="Enter description..."></sm-input>
	<sm-button class="positive" (click)="createRecipe(name.value, descr.value);
		name.value = '';
		descr.value = '';" icon="plus">Add recipe</sm-button>
</sm-segment>
<sm-list class="relaxed selection divided">
	<sm-item (click)="showRecipe(item.id)" *ngFor="let item of recipesArray">{{item.id}} {{item.name}}</sm-item>
</sm-list>